/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Fondo más oscuro */
    color: #b0b0b0; /* Texto en tono gris claro */
    line-height: 1.6;
}

/* Encabezado */
header {
    background-color: #1b1b1b; /* Fondo gris oscuro */
    color: #b0b0b0;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #2a2a2a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Efectos de animación para el título */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes colorShift {
    0% { color: #cc7a00; } /* Naranja fuerte y apagado */
    50% { color: #b36800; } /* Marrón anaranjado */
    100% { color: #cc7a00; }
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-3px); } /* Movimiento más leve */
    100% { transform: translateY(0); }
}

header h1 {
    animation: fadeIn 2s ease-in-out, colorShift 15s infinite, float 10s ease-in-out infinite;
    color: #cc7a00; /* Naranja fuerte pero sin brillo */
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: none; /* Sin sombras para un tono más mate */
}

/* Contenedor principal */
main {
    margin: 20px;
    background-color: #1b1b1b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Formularios */
form label {
    display: block;
    margin: 5px 0 2px;
    color: #b0b0b0;
}

form input, form select, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #2a2a2a;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #121212;
    color: #b0b0b0;
    transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
}

form input:hover, form select:hover, form textarea:hover {
    background-color: #1f1f1f; /* Oscurecer ligeramente el fondo */
    border-color: #ff8c00; /* Naranja oscuro */
}

form input:focus, form select:focus, form textarea:focus {
    border-color: #ff8c00;
    box-shadow: 0 0 5px rgba(255, 140, 0, 0.5);
    outline: none;
}

/* Ajuste específico para el campo de imagen */
form input[type="file"] {
    width: auto;
    padding: 8px;
    border-radius: 6px;
}

form button {
    background-color: #ff8c00;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

form button:hover {
    background-color: #d2691e;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Tarjetas del historial */
.history-card {
    background-color: #1b1b1b;
    border: 1px solid #2a2a2a;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.history-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
}

.history-card div {
    margin-bottom: 5px;
}

.history-card img {
    width: 50px;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid #2a2a2a;
    border-radius: 4px;
    transition: transform 0.3s;
}

.history-card img:hover {
    transform: scale(1.1);
}

.fullscreen-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    cursor: pointer;
}

@media (max-width: 768px) {
    header {
        padding: 20px 0;
    }

    main {
        margin: 10px;
        padding: 15px;
    }

    form input, form select, form textarea, form button {
        font-size: 14px;
        padding: 10px;
    }

    .history-card img {
        width: 40px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 15px 0;
    }

    main {
        margin: 5px;
        padding: 10px;
    }

    form input, form select, form textarea, form button {
        font-size: 12px;
        padding: 8px;
    }

    .history-card img {
        width: 30px;
    }
}

/* Estilos para la búsqueda */
#searchInput {
    width: calc(100% - 120px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #2a2a2a;
    border-radius: 4px;
    background-color: #121212;
    color: #b0b0b0;
    transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
}

#searchInput:hover {
    background-color: #1f1f1f; /* Oscurecer ligeramente el fondo */
    border-color: #ff8c00;
}

#searchButton {
    width: 100px;
    padding: 10px;
    margin-left: 10px;
    background-color: #ff8c00;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

#searchButton:hover {
    background-color: #d2691e;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#searchResults {
    margin-top: 20px;
}

#searchResults h3 {
    color: #ff8c00;
}

#searchCards .history-card {
    margin-bottom: 10px;
}

/* Estilo del menú desplegable */
.dropdown-menu {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.menu-icon {
    background-color: #1b1b1b;
    color: #b0b0b0;
    border: 2px solid #ff8c00;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.menu-icon:hover {
    background-color: #2a2a2a;
    transform: scale(1.1);
}

.menu-icon.open {
    transform: rotate(90deg);
}

/* Estilo del contenido desplegable con animación */
.dropdown-content {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgba(27, 27, 27, 0.95); /* Fondo aún más oscuro */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1001;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.4s ease, transform 0.4s ease; /* Suave animación */
    visibility: hidden; /* Asegura que no sea clickeable cuando esté oculto */
    pointer-events: none; /* Deshabilita la interacción cuando esté oculto */
}

.dropdown-content.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible; /* Hace el menú visible */
    pointer-events: auto; /* Habilita la interacción cuando esté visible */
}

.dropdown-content.hide {
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    pointer-events: none;
}


.dropdown-content a {
    color: #b0b0b0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    border-bottom: 1px solid #2a2a2a;
}

.dropdown-content a:last-child {
    border-bottom: none;
}

.dropdown-content a:hover {
    background-color: #2a2a2a;
}

/* Estilos del botón de cerrar sesión */
#logout-button {
    color: #b0b0b0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    border-bottom: 1px solid #2a2a2a;
}

#logout-button:hover {
    background-color: #2a2a2a;
}
